<app-header></app-header>

<div class="container">
    <h2>Global Chat</h2>
    <div>
        Connected: {{ isConnected }}
    </div>

    <form [formGroup]="chatFormGroup" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="message" placeholder="Message">
        <button type="submit" class="btn btn-primary" [disabled]="chatFormGroup.invalid">Send</button>
    </form>

    <h3>Messages</h3>
    <ul>
        <li *ngFor="let message of messages">
            {{ message.from }} - {{ message.message }} - {{ message.created }}
        </li>
    </ul>
</div>


