<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AngularExample</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/chat']" [routerLinkActive]="'active'">Chat</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" (click)="doLogout()">Logout</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>